@model List<MVCUygulama.Models.kitap>
@{
    ViewBag.Title = "goruntule";
}

<h2>@Session["ad"]'in Kitapları</h2>

<a href="@Url.Action("CreateOrUpdateKitap","Yazar",new { yazarid=Session["id"]})">EKLE</a>

<table>
    <thead>
        <tr>
            <th>Makale ID</th>
            <th>Kitap Adı</th>
            
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        
            <tr>
                <td>
                    @item.makaleId
                </td>
                <td>
                    @item.makaleAdi
                </td>
             
                <td>
                    
                    <a href="@Url.Action("CreateOrUpdateKitap", "Yazar", new {makaleid=item.makaleId ,yazarid=item.YazarID})">Güncelle</a>
                    <a href="@Url.Action("DeleteKitap","Yazar", new {id=item.makaleId })">Sil</a>
                </td>
</tr>
        }
    </tbody>

</table>
