@model List<MVCUygulama.Models.MYazar> 
@{
    ViewBag.Title = "Index";
}

<h2>YAZARLAR</h2>
<a href="@Url.Action("CreateOrUpdate","Yazar")">EKLE</a>
<table>
   <thead>
       <tr>
       <th>Yazar ID</th>
           <th>Yazar Adı</th>
           <th>Makale Sayısı</th>
           <th>İşlemler</th>
       </tr>
   </thead> 
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.YazarID
                </td>
                <td>
                    @item.YazarAD
                </td>
                <td>
                    @item.MakaleSayisi
                </td>
                
                <td>
                    <a href="@Url.Action("CreateOrUpdate", "Yazar", new {id=item.YazarID })">Güncelle</a>
                    <a href="@Url.Action("Delete","Yazar", new {id=item.YazarID })">Sil</a>
                    <a href="@Url.Action("goruntule","Yazar",new { id = item.YazarID })">Kitapları Görüntüle</a>
       
                </td>
            </tr>
        }
    </tbody>
    
</table>

